[submodule "unitree_sdk2_python"]
	path = unitree_sdk2_python
	url = https://github.com/unitreerobotics/unitree_sdk2_python

[submodule "unitree_mujoco"]
	path = unitree_mujoco
	url = https://github.com/unitreerobotics/unitree_mujoco
[submodule "unitree_ros2"]
	path = unitree_ros2
	url = https://github.com/unitreerobotics/unitree_ros2
